{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <title>Login Form </title>
        <link rel="stylesheet" href="{% static 'css/s.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="wrapper">
            <form action="{% url 'loginurl' %}" method="post">
                {% csrf_token %}
                <h1>Login For Student</h1>
                <div class="input-box">
                    <label for="full_name">Full Name</label>
                    <input type="text" id="full_name" name="full_name" required>
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember Me</label>
                    <a href="{% url 'password_reset' %}">Forgot Password</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="register-link">
                    <p>Dont have an account? <a href="{% url 'register' %}">Register</a></p>
                </div>
            </form>
        </div>

    </body>
</html>