{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/tdstyles.css' %}">
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2>Dashboard</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Students</a></li>
                <li><a href="#">Assignments</a></li>
                <li><a href="#">Announcements</a></li>
                <li><a href="#">Quizzes</a></li>
            </ul>
        </nav>

        <main class="content">
            <header class="top-bar">
                <h1>Welcome, Teacher</h1>
                <div class="profile">
                    <img src="profile.jpg" alt="Profile Picture">
                    <span>name</span>
                </div>
            </header>

            <section class="dashboard-content">
                <div class="card">
                    <h3>Courses</h3>
                    <p>10</p>
                </div>
                <div class="card">
                    <h3>Students</h3>
                    <p>Total Students</p>
                </div>
                <div class="card">
                    <h3>Assignments</h3>
                    <p>Pending assignments to review.</p>
                </div>
                <div class="card">
                    <h3>Announcements</h3>
                    <p> New Announcements.</p>
                </div>
                <div class="card">
                    <h3>Quizze</h3>
                    <p> Quizze questions.</p>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
